---
layout: default
title: Categories
description: Categorize all the articles
---

<h1>article</h1>
{% for page in site.posts %}
    {% if page.categories contains 'article' %}
        <div>
            <span style="padding-right: 5px;">
                <i class="fa fa-calendar"></i> {{ page.date | date: "%b %-d, %Y" }}
            </span>
            
                <a href="{{ page.url }}">{{page.title}}</a>
            </span>
        </div>
    {% endif %}
{% endfor %}<br>

<h1>linux</h1>
{% for page in site.posts %}
    {% if page.categories contains 'linux' %}
        <div>
            <span style="padding-right: 5px;">
                <i class="fa fa-calendar"></i> {{ page.date | date: "%b %-d, %Y" }}
            </span>
            <span style="padding-left: 5px;">
                <a href="{{ page.url }}">{{page.title}}</a>
            </span>
        </div>
    {% endif %}
{% endfor %}<br>

https://www.itranslater.com/qa/details/2582489303695754240