---
layout: default
---

{% for page_ in site.posts %}
  <div style="margin-bottom: 20px;">
    <h1>{{ page_.title }}</h1>
    {% if page_.date != nil %}
    <div>
      <span style="padding-right: 10px; border-right: 1px #777 solid;">
        <i class="fa fa-calendar"></i> {{ page_.date | date: "%b %-d, %Y" }}
      </span>
      <span style="padding-left: 10px">
        {% for cat in page_.categories %}
          <a class="post-tag" href="./Categories">#{{cat}}</a>
        {% endfor %}
      </span>
    </div>
    {% endif %}
    {{ page_.description }} <a href="{{ page_.url }}">>>Read More</a> <br>
  </div>
{% endfor %}

